<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Cartão de visita Carlos</h5>
        <p class="card-text">Carlos Tevez Rosseto Soares, 17 anos e cursando Desenvolvimento de sistemas pela Etec Horacio Augusto da Silveira</p>
        <img class="Imagem" src="../assets/carlos.png">
        <a href="https://github.com/anaecarlos" class="btn btn-primary">Sign Git Hub</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Cartão de visita Ana</h5>
        <p class="card-text">Ana Vitória Henriques Silva, 17 anos e cursando Desenvolvimento de sistemas pela Etec Horacio Augusto da Silveira</p>
        <img class="Imagem" src="../assets/ana.png">
        <a href="https://github.com/anaecarlos" class="btn btn-primary">Sign Git Hub</a>
      </div>
    </div>
  </div>
</div>
