<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Carlos Tevez</h5>
        <img class="Imagem" src="../assets/carlos.png">
        <p class="card-text">Carlos Tevez Rosseto Soares, 17 anos e cursando Desenvolvimento de sistemas pela Etec Horacio Augusto da Silveira</p>
        <a href="https://github.com/anaecarlos"><img src="../assets/github.png" class="botao"></a>
        <a href="https://instagram.com"><img src="../assets/instagram.png"class="botao1"></a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Ana Vitória</h5>
        <img class="Imagem" src="../assets/ana.png">
        <p class="card-text">Ana Vitória Henriques Silva, 17 anos e cursando Desenvolvimento de sistemas pela Etec Horacio Augusto da Silveira</p>
        <a href="https://github.com/anaecarlos"><img src="../assets/github.png"class="botao"></a>
        <a href="https://instagram.com"><img src="../assets/instagram.png"class="botao1"></a>
      </div>
    </div>
  </div>
</div>
